@model IEnumerable<Person>

<div class="row">
    <div class="col-xs-12">
        <h3>Cities</h3>
    </div>
    <div class="col-xs-12">
        <ul u2u-property="Address.City" u2u-items="Model"></ul>
    </div>
</div>
